div.response
  div(layout='row', ng-show='vm.question.Type__c==="Score and comment"')
    div(
      flex-xs='75',
      flex-gt-sm='85'
      layout='row',
      layout-align='start center'
    )
      p.question {{ vm.question.Question_text__c }}
    div(
      flex-xs='25',
      flex-gt-sm='15'
      layout='row',
      layout-align='end center'
    )
      md-button.md-fab.md-mini(
        aria-label='Add comment',
        ng-click='vm.showComment()',
        ng-show='vm.hideComment',
        md-colors="{background: 'default-accent-hue-2'}"
      )
        md-icon comment
  div(layout='row', ng-hide='vm.question.Type__c==="Score and comment"')
    div(flex, layout='row', layout-align='start center')
      p.question {{ vm.question.Question_text__c }}
  md-slider-container.md-block(flex, ng-hide='vm.question.Type__c==="Comment only"')
    span 0
    md-slider(
      ng-model='vm.question.response.Score__c',
      name='responseScore{{ vm.question.Name }}',
      flex,
      md-discrete,
      step='1',
      min='0',
      max='5',
      aria-label='{{ vm.question.Question_text__c }}',
      required,
      md-no-asterisk
    )
    span 5
  div.slider-invalid(ng-show='vm.question.response.error')
    | This field is required
  md-input-container.md-block(flex, ng-hide='vm.hideComment')
    label(ng-hide='vm.question.Type__c==="Comment only"')
      | Would you like to add any comments about this rating?
    textarea(
      ng-model='vm.question.response.Comments__c',
      name='responseComment{{ vm.question.Name }}',
      md-maxlength='300',
      rows='3',
      md-select-on-focus
    )
    div(ng-messages='vm.form.responseComment{{ vm.question.Name }}.$error')
      div(ng-message='md-maxlength')
        | Please limit your response to 300 characters
