a(name='vm.section.id')
//- Disabled version
gz-disabled-section(
  title='vm.section.title',
  ng-show="vm.section.status === 'disabled'"
)
//- Complete version
gz-complete-section(
  title='vm.section.title',
  ng-click="vm.editSection('banner')",
  ng-show="vm.section.status === 'complete'"
)
//- Active version
md-card(ng-show="vm.section.status === 'active'")
  md-card-header
    md-card-header-text
      span.md-headline {{ vm.section.title }}
  md-card-content
    div(ng-transclude)
      
    p.error(
      layout='column'
      layout-padding,
      md-colors="{background: 'default-warn'}",
      ng-show='vm.section.error'
    )
      | There was an error reaching the database. Please refresh the page and try again.

    md-card-actions(layout='row', layout-align='end center', layout-padding)
      md-progress-circular.md-primary(ng-show='vm.page.working', md-mode='indeterminate', md-diameter='20px')
      md-button(
        ng-click="vm.process()",
        ng-disabled="vm.page.working"
      ) 
        | Next
        md-icon.md-material-icons navigate_next
