p.question For this event which organisation do you represent?
md-input-container.md-block(flex)
  md-radio-group(
    ng-model='vm.section.orgTypeSelected',
    name='organisationType',
    required,
    ng-change='vm.changeOrganisationType()',
    ng-disabled='vm.section.errorInitial'
  )
    md-radio-button(
      value='nhri'
    )
      | A National Human Rights Institution (NHRI)
    md-radio-button(
      value='organisation'
    )
      | Another organisation
    md-radio-button(
      value='individual',
      ng-hide='vm.page.action.isTraining'
    )
      | I am not representing an organisation
  div(ng-messages='vm.form.organisationType.$error')
    div(ng-message='required')
      | This field is required
md-input-container.md-block(flex, ng-show="vm.section.orgTypeSelected === 'nhri'")
  label Your National Human Rights Institution
  md-select(
    ng-model='vm.page.affiliation.npe5__Organization__c',
    name='affiliationOrganisation',
    required,
    ng-disabled='vm.section.errorInitial'
  )
    md-option(ng-repeat='nhri in vm.page.nhris', value='{{ nhri.Id }}')
      | {{ nhri.Name }}
    md-option(value='0', ng-hide="vm.section.orgTypeSelected === 'no'")
      | Not
  div(ng-messages='vm.form.affiliationOrganisation.$error')
    div(ng-message='required')
      | This field is required
md-autocomplete(
  flex,
  required,
  md-input-name='orgSearchText',
  md-selected-item='vm.section.orgSearchExistingOrgSelected',
  md-search-text='vm.section.orgSearchText',
  md-selected-item-change='vm.selectOrganisation(organisation)',
  md-items='organisation in vm.filterOrganisations(vm.section.orgSearchText)',
  md-item-text='organisation.Name',
  md-min-length='0',
  md-floating-label='Your organisation',
  ng-show="vm.section.orgTypeSelected === 'organisation'",
  md-select-on-match='true',
  ng-disabled='vm.section.errorInitial'
)
  md-item-template
      span(md-highlight-text='vm.section.orgSearchText') {{organisation.Name}}
  div(ng-messages='vm.form.orgSearchText.$error')
    div(ng-message='required')
      | This field is required
div(ng-hide="vm.section.orgTypeSelected === 'individual' || vm.page.action.isTraining !== true")
  p.question.p-required(ng-hide="vm.section.orgTypeSelected === 'individual'")
    | When did you start working at this organisation?
  md-input-container.md-block(flex)
    label Enter date
    md-datepicker(
      ng-model='vm.page.affiliation.npe5__StartDate__c',
      name='affiliationStartDate',
      required,
      md-open-on-focus,
      md-placeholder='Enter date',
      ng-disabled='vm.section.errorInitial'
    )
    div(ng-messages='vm.form.affiliationStartDate.$error')
      div(ng-message='required')
        | Please enter a valid date
md-input-container.md-block(flex, ng-hide="vm.section.orgTypeSelected === 'individual'")
  label Official job title
  input(
    ng-model='vm.page.affiliation.npe5__Role__c',
    name='affiliationRole',
    required,
    md-maxlength='80',
    ng-disabled='vm.section.errorInitial'
  )
  //- div.hint
  //-   | What is your official job title?
  div(ng-messages='vm.form.affiliationRole.$error')
    div(ng-message='required')
      | This field is required and can have a maximum of 80 characters
md-input-container.md-block(flex, ng-show='vm.page.action.isTraining')
  label Description of your role
  textarea(
    ng-model='vm.page.affiliation.npe5__Description__c',
    name='affiliationDescription',
    md-maxlength='500',
    rows='5',
    md-select-on-focus,
    ng-disabled='vm.section.errorInitial'
  )
md-input-container.md-block(flex, ng-hide="vm.section.orgTypeSelected === 'individual'")
  label Department
  input(
    ng-model='vm.page.affiliation.Department__c',
    name='affiliationDepartment',
    ng-disabled='vm.section.errorInitial'
  )
