div(ng-show='vm.page.action.isTraining')
  p.question.p-required Is the email you've provided your 
    strong work 
    | email address?
  md-input-container.md-block(flex)
    md-radio-group(
      ng-model='vm.section.emailIsWork',
      name='emailIsWork',
      required,
      md-no-asterisk,
      ng-set-focus='contact'
    )
      md-radio-button(value='yes', ng-click='vm.changeEmailWork()') Yes
      md-radio-button(value='no', ng-click='vm.changeEmailWork()')  No
    div(ng-messages='vm.form.emailIsWork.$error')
      div(ng-message='required')
        | This field is required
  md-input-container.md-block(flex, ng-hide="vm.section.emailIsWork === 'yes'")
    label What is your  
      strong work 
      | email address?
    input(
      required,
      md-no-asterisk,
      type='email',
      name='contactWorkEmail',
      ng-model='vm.page.contact.npe01__WorkEmail__c',
      minlength='10',
      maxlength='155',
      ng-pattern="/^.+@.+\..+$/"
    )
    div(ng-messages='vm.form.contactWorkEmail.$error')
      div(ng-message-exp="['minlength', 'maxlength', 'pattern']")
        | Your email must be between 10 and 155 characters long and look like an e-mail address.
div(ng-hide='vm.page.action.isTraining')
  p.question.p-required Would you like your email added to the APF mailing list?
  md-input-container.md-block(flex)
    md-radio-group(ng-model='vm.page.contact.AddEmailToMailingList', name='contactEmailOptOut', required, md-no-asterisk)
      md-radio-button(value='1') Yes
      md-radio-button(value='0') No
    div(ng-messages='vm.form.contactEmailOptOut.$error')
      div(ng-message='required')
        | This field is required
md-input-container.md-block(flex-xs, flex-gt-sm='50')
  label Phone number
  input(ng-model='vm.section.phoneNumber', name='contactPhone', required, md-no-asterisk)
  div(ng-messages='vm.form.contactPhone.$error')
    div(ng-message='required')
      | This field is required
md-input-container.md-block(flex-xs, flex-gt-sm='50')
  label Which phone number is this?
  md-select(ng-model='vm.page.contact.npe01__PreferredPhone__c', name='contactPreferredPhone', required, md-no-asterisk)
    md-option(ng-repeat='phoneType in vm.section.phoneTypes', value='{{ phoneType }}')
      | {{ phoneType }}
  //- div.hint
  //-   | Is it you work phone, mobile phone, home phone?
  div(ng-messages='vm.form.contactPreferredPhone.$error')
    div(ng-message='required')
      | This field is required
//- md-input-container.md-block(flex)
//-   label Fax 
//-   input(ng-model='vm.page.contact.Fax', name='contactFax')
md-input-container.md-block(flex-xs, flex-gt-sm='50')
  label Country you are based in
  md-select(
    ng-model='vm.page.contact.Country__c',
    name='contactCountry',
    required,
    md-no-asterisk,
    ng-disabled='vm.section.errorInitial'
  )
    md-option(ng-repeat='country in vm.page.countries', value='{{ country.Id }}')
      | {{ country.Name }}
  div(ng-messages='vm.form.contactCountry.$error')
    div(ng-message='required')
      | This field is required
md-input-container.md-block(flex-xs, flex-gt-sm='50', ng-show='vm.page.action.isTraining')
  label Your nearest airport 
  input(ng-model='vm.page.contact.Closest_airport__c', name='contactClosestAirport', required, md-no-asterisk)
  div.hint
    | To assist with travel arrangements
  div(ng-messages='vm.form.contactClosestAirport.$error')
    div(ng-message='required')
      | This field is required
md-input-container.md-block(flex-xs, flex-gt-sm='70')
  label Emergency contact name (optional)
  input(ng-model='vm.page.contact.Emergency_contact_name__c', name='contactEmergencyContactName')
md-input-container.md-block(flex-xs, flex-gt-sm='70')
  label Emergency contact phone or email (optional)
  input(ng-model='vm.page.contact.Emergency_contact_phone_or_email__c', name='contactEmergencyContactPhoneEmail')
