a(name='vm.section.id')
//- Disabled version
gz-disabled-section(
  title='vm.section.title',
  ng-show='vm.page.currentSection !== vm.section.id && vm.section.complete === false'
)
//- Complete version
gz-complete-section(
  title='vm.section.title',
  ng-click="vm.editSection(vm.section, 'banner')",
  ng-show='vm.page.currentSection !== vm.section.id && vm.section.complete === true'
)
//- Active version
md-card(ng-show='vm.page.currentSection === vm.section.id')
  md-card-header
    md-card-header-text
      span.md-headline {{ vm.section.title }}
  md-card-content
    div(ng-transclude)
      
    p.error(
      layout='column'
      layout-padding,
      md-colors="{background: 'default-warn'}",
      ng-show='vm.section.invalid'
    )
      | Please make sure all required fields have been completed.
    p.error(
      layout='column'
      layout-padding,
      md-colors="{background: 'default-warn'}",
      ng-show='vm.section.error'
    )
      | There was an error saving your information. Please wait 5 
      | seconds and try again.

    md-card-actions(layout='row', layout-align='end center', layout-padding)
      md-progress-circular.md-primary(ng-show='vm.page.working', md-mode='indeterminate', md-diameter='20px')
      md-button(
        ng-show='vm.sectionPrevious',
        ng-click="vm.previous()",
        ng-disabled="vm.page.working"
      ) 
        md-icon.md-material-icons navigate_before
        | Previous
      md-button(
        ng-show='vm.sectionNext',
        ng-click="vm.process()",
        ng-disabled="vm.page.working"
      ) 
        | Next
        md-icon.md-material-icons navigate_next
