p.intro(
  layout='column'
  layout-padding,
  md-colors="{background: 'default-background-hue-2'}"
)
  | Please rate your English language competency
gz-slider-form-input(
  question='Ability to read in English',
  model='vm.page.contact.EN_Skills_Ability_to_read_in_English__c',
  name='contactEnRead',
  error='vm.section.errors.EN_Skills_Ability_to_read_in_English__c'
)
gz-slider-form-input(
  question='Ability to write in English',
  model='vm.page.contact.EN_Skills_Ability_to_write_in_English__c',
  name='contactEnWrite',
  error='vm.section.errors.EN_Skills_Ability_to_write_in_English__c'
)
gz-slider-form-input(
  question='Ability to understand spoken English',
  model='vm.page.contact.EN_Skills_Ability_to_understand_spoken__c',
  name='contactEnSpoken',
  error='vm.section.errors.EN_Skills_Ability_to_understand_spoken__c'
)
gz-slider-form-input(
  question='Ability to speak in English',
  model='vm.page.contact.EN_Skills_Ability_to_speak_English__c',
  name='contactEnSpeak',
  error='vm.section.errors.EN_Skills_Ability_to_speak_English__c'
)
