div.session
  h4.md-title(
    ng-show='vm.session.headingDay && vm.sessionsDays.sessionsDaysCount > 1'
  ) {{ vm.session.headingDay }}
  h5.md-subhead(
    ng-show='vm.session.headingPeriod && vm.sessionsDays[vm.session.day.id].periodsCount > 1'
  ) {{ vm.session.headingPeriod }}
  
  //- p.error(
  //-   layout='column'
  //-   layout-padding,
  //-   md-colors="{background: 'default-warn'}",
  //-   ng-show='vm.sessionsDays[vm.session.day.id].periods[vm.session.period.id].valid === false'
  //- )
  //-   | Please make sure you have selected a first and second preference
  
  div(flex, layout='row', layout-padding)
    div(flex-xs='30',flex-gt-sm='15')
      md-select(
        ng-model='vm.session.sessionParticipation.Registration_preference__c',
        name='sessionParticipationRegoPreference{{ vm.session.sessionParticipation.Name }}',
        aria-label='{{ vm.session.Name }}',
        ng-set-focus='{{ vm.focus }}'
      )
        md-option(value='')
        md-option(ng-repeat='option in vm.session.period.options', value='{{ option }}')
          | {{ option }}
    div(flex)
      p {{ vm.session.Name }}
