p.question.p-required {{ vm.question }}
md-slider-container.md-block(flex)
  span 0
  md-slider(
    ng-model='vm.model',
    name='{{ vm.name }}',
    flex,
    md-discrete,
    step='1',
    min='0',
    max='5',
    aria-label='{{ vm.question }}',
    ng-set-focus='{{ vm.focus }}',
    required,
    md-no-asterisk
  )
  span 5
div.slider-invalid(ng-show='vm.error')
  | This field is required
