section

  //- md-subheader(md-colors="{background: 'default-primary-hue-1'}")
  //-   | Registration for
  
  div.header(layout='row', layout-padding, md-colors="{background: 'default-primary'}")
    img.logo-icon(
      ng-src='/images/APF-logo-circle-32x32.png',
      alt='Asia Pacific Forum logo'
    )
    h1.md-subhead Training Portal
    
  div.subheader(layout='row', md-colors="{background: 'default-primary-hue-1'}")
    p.body-2 Registration for

  //- Hero
  div.hero(layout='row', layout-xs='column', md-colors="{background: 'default-primary-hue-2'}")
    
    div(
      flex,
      layout='row',
      layout-align='center center',
      layout-padding,
      ng-hide='vm.actionLoaded || vm.actionError'
    )
    
      md-progress-circular.md-background(
        md-mode='indeterminate',
        md-diameter='100px'
      )
      
    div(
      flex,
      layout='column',
      layout-padding,
      ng-show='vm.actionError'
    )
      md-content(layout-padding, md-colors="{background: 'default-primary-hue-2'}")
        div(hide, show-gt-sm)
          h2.md-display-1 {{ vm.actionErrorMessage.title }}
          h3.md-headline {{ vm.actionErrorMessage.message }}
        div(hide-gt-sm)
          h2.md-headline {{ vm.actionErrorMessage.title }}
          h3.md-title {{ vm.actionErrorMessage.message }}
    
    div(flex-gt-xs='100', flex-xs, layout='row', ng-show='vm.actionLoaded')
      div(flex-gt-xs='75', layout='column')
        md-content(layout-padding, md-colors="{background: 'default-primary-hue-2'}")
          div(hide, show-gt-sm)
            h1.md-display-2 {{ vm.action.Name }}
            h2.md-display-1(ng-show='vm.action.datesShow') {{ vm.action.startDate }} to {{ vm.action.finishDate }}
          div(hide-gt-sm)
            h1.md-display-1 {{ vm.action.Name }}
            h2.md-headline(ng-show='vm.action.datesShow') {{ vm.action.startDate }} to {{ vm.action.finishDate }}
          p {{ vm.action.Description__c }}
      span(hide, show-gt-xs, flex)
    div(
      hide,
      flex-gt-xs='50',
      flex-xs,
      layout='row',
      layout-align='center center',
      ng-show='vm.actionLoaded'
    )
      img(
        ng-src='/images/APF-logo-main-2x.png',
        alt='Asia Pacific Forum logo'
      )
    
section(ng-show='vm.actionLoaded')
  
  //- Content
  div.content

    md-content(layout-padding, layout='row', layout-xs='column')
      
      //- Help text
      div(flex-xs, flex-gt-sm='50', layout='column')
        md-card
          md-card-title
            md-card-title-text.md-headline
              | To register for this course
          md-card-content
            md-list(ng-show='vm.action.registrationDateShow')
              md-list-item
                md-icon.material-icons.md-avatar event
                p Registrations close 
                  strong {{ vm.action.registrationDate }}
            p {{ vm.action.Help_text__c }}
            
        md-card(ng-show='vm.hasSelectionCriteria')
          md-card-title
            md-card-title-text.md-headline
              | Selection criteria
          md-card-content
            md-list(ng-show='vm.action.registrationDateShow')
              md-list-item(ng-repeat='criteria in vm.selectionCriteria')
                .md-list-item-text
                  p {{ criteria }}

      //- Form
      div(flex, layout='column')
        form(name='pageForm', ng-submit='pageForm.$valid && vm.processExpectations()')
          
          //- Email section
          a(name='email')
          //- Disabled version
          gz-disabled-form-section(
            title='vm.emailSectionTitle',
            ng-hide="vm.openAll || vm.sectionActive === 'email' || vm.emailSectionStatus === 'complete'"
          )
          //- Complete version
          gz-complete-form-section(
            title='vm.emailSectionTitle',
            ng-click="vm.editSection('email')",
            ng-show="vm.formComplete === false && vm.emailSectionStatus === 'complete' && vm.sectionActive !== 'email'"
          )
          md-card(ng-show="vm.openAll || vm.sectionActive === 'email'")
            md-card-header
              //- md-card-avatar
              //-   img(
              //-     ng-src='/images/APF-logo-footer-2x.png',
              //-     alt='Asia Pacific Forum logo'
              //-   )
              md-card-header-text
                span.md-headline {{ vm.emailSectionTitle }}
            md-card-content
              p.intro(
                layout='column'
                layout-padding,
                md-colors="{background: 'default-background-hue-2'}"
              )
                | The main form of communication for this training will be via 
                | email. Please ensure you enter a valid email address that 
                | you check often.
              md-input-container.md-block(flex)
                label Your email address
                input(
                  required,
                  type='email',
                  name='contactEmail',
                  ng-model='vm.email',
                  minlength='10',
                  maxlength='155',
                  ng-pattern="/^.+@.+\..+$/"
                )
                //- div.hint
                //-   | Please enter an email address that is the most convenient
                div(ng-messages='pageForm.contactEmail.$error')
                  div(ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']")
                    | Your email must be between 10 and 155 characters long and look like an e-mail address.
                    
            p.error(
              layout='column'
              layout-padding,
              md-colors="{background: 'default-warn'}",
              ng-show='vm.emailSectionError'
            )
              | There was an error reaching the database. Please refresh the page and try again.

            md-card-actions(layout='row', layout-align='end center', layout-padding)
              md-progress-circular.md-primary(ng-show='vm.working', md-mode='indeterminate', md-diameter='20px')
              md-button(
                ng-click="vm.processEmail()",
                ng-disabled="vm.emailSectionNextDisabled()"
              ) 
                | Next
                md-icon.md-material-icons navigate_next
              
          //- Personal section
          a(name='personal')
          //- Disabled version
          gz-disabled-form-section(
            title='vm.personalSectionTitle',
            ng-hide="vm.openAll || vm.sectionActive === 'personal' || vm.personalSectionStatus === 'complete'"
          )
          //- Complete version
          gz-complete-form-section(
            title='vm.personalSectionTitle',
            ng-click="vm.editSection('personal')",
            ng-show="vm.formComplete === false && vm.personalSectionStatus === 'complete' && vm.sectionActive !== 'personal'"
          )
          md-card(ng-show="vm.openAll || vm.sectionActive === 'personal'")
            md-card-header
              //- md-card-avatar
              //-   img(
              //-     ng-src='/images/APF-logo-footer-2x.png',
              //-     alt='Asia Pacific Forum logo'
              //-   )
              md-card-header-text
                span.md-headline  {{ vm.personalSectionTitle }}
            md-card-content
              //- section intro
              p.intro(
                layout='column'
                layout-padding,
                md-colors="{background: 'default-background-hue-2'}",
                ng-show='vm.contactExists'
              )
                | Hi {{ vm.contact.FirstName }}, we have found you in our 
                | database. Please check to ensure your information is up to 
                | date.
              md-input-container.md-block(flex)
                label First name
                input(ng-model='vm.contact.FirstName', name='contactFirstName', required)
                div(ng-messages='pageForm.contactFirstName.$error')
                  div(ng-message='required')
                    | Please enter a first name
              md-input-container.md-block(flex)
                label Last name
                input(ng-model='vm.contact.LastName', name='contactLastName', required)
                div(ng-messages='pageForm.contactLastName.$error')
                  div(ng-message='required')
                    | Please enter a last name
              md-input-container.md-block(flex)
                label Salutation
                md-select(ng-model='vm.contact.Salutation', name='contactSalutation')
                  md-option(ng-repeat='salutation in vm.salutations', value='{{ salutation }}')
                    | {{ salutation }}
              md-input-container.md-block(flex)
                label Gender
                md-select(ng-model='vm.contact.Gender__c', name='contactGender', required)
                  md-option(ng-repeat='gender in vm.genders', value='{{ gender }}')
                    | {{ gender }}
                div(ng-messages='pageForm.contactGender.$error')
                  div(ng-message='required')
                    | This field is required
              md-input-container.md-block(flex)
                label Dietary requirements
                textarea(
                  ng-model='vm.contact.Dietary_requirements__c',
                  name='contactDietaryRequirements',
                  md-maxlength='150',
                  rows='3',
                  md-select-on-focus
                )
                //- div.hint
                //-   | Should we add some help text?
                //- div(ng-messages='pageForm.contactDietaryRequirements.$error')
                //-   div(ng-message='required')
                //-     | This field is required
              md-input-container.md-block(flex)
                label Accessibility requirements
                textarea(
                  ng-model='vm.contact.Accessibility_requirements__c',
                  name='contactAccessibilityRequirements',
                  md-maxlength='150',
                  rows='3',
                  md-select-on-focus
                )
                //- div.hint
                //-   | Should we add some help text?
                //- div(ng-messages='pageForm.contactAccessibilityRequirements.$error')
                //-   div(ng-message='required')
                //-     | This field is required
              p.error(
                layout='column'
                layout-padding,
                md-colors="{background: 'default-warn'}",
                ng-show='vm.personalSectionInvalid'
              )
                | Please make sure all required fields have been completed.
              p.error(
                layout='column'
                layout-padding,
                md-colors="{background: 'default-warn'}",
                ng-show='vm.personalSectionError'
              )
                | There was an error saving your information. Please wait 5 
                | seconds and try again.
                      
            md-card-actions(layout='row', layout-align='end center', layout-padding)
              md-progress-circular.md-primary(ng-show='vm.working', md-mode='indeterminate', md-diameter='20px')
              md-button(
                ng-click="vm.editSection('email')"
              ) 
                md-icon.md-material-icons navigate_before
                | Previous
              md-button(
                ng-click="vm.processPersonal()",
                ng-disabled="vm.personalSectionNextDisabled()"
              ) 
                | Next
                md-icon.md-material-icons navigate_next
          
          //- Organisation section
          a(name='organisation')
          //- Disabled version
          gz-disabled-form-section(
            title='vm.organisationSectionTitle',
            ng-hide="vm.openAll || vm.sectionActive === 'organisation' || vm.organisationSectionStatus === 'complete'"
          )
          //- Complete version
          gz-complete-form-section(
            title='vm.organisationSectionTitle',
            ng-click="vm.editSection('organisation')",
            ng-show="vm.formComplete === false && vm.organisationSectionStatus === 'complete' && vm.sectionActive !== 'organisation'"
          )
          md-card(ng-show="vm.openAll || vm.sectionActive === 'organisation'")
            md-card-header
              //- md-card-avatar
              //-   img(
              //-     ng-src='/images/APF-logo-footer-2x.png',
              //-     alt='Asia Pacific Forum logo'
              //-   )
              md-card-header-text
                span.md-headline  {{ vm.organisationSectionTitle }}
            md-card-content
              
              div.error(
                layout='row'
                layout-padding,
                md-colors="{background: 'default-warn'}",
                ng-show='vm.organisationSectionErrorTop'
              )
                div(flex='75', layout='row', layout-align='start center')
                  | There was an error reaching the database. Please wait 5 
                  | seconds and then try again.
                div(flex='25', layout='row', layout-align='end center')
                  md-button.md-background(
                    ng-click='vm.preOrganisation()'
                  ) Try again
              p.question For this event which organisation do you represent?
              md-input-container.md-block(flex)
                md-radio-group(
                  ng-model='vm.organisationType',
                  name='organisationType',
                  required,
                  ng-change='vm.changeOrganisationType()'
                )
                  md-radio-button.md-primary(
                    value='nhri'
                  )
                    | A National Human Rights Institution (NHRI)
                  md-radio-button(
                    value='organisation'
                  )
                    | Another organisation
                  md-radio-button(
                    value='individual',
                    ng-hide='vm.actionIsTraining'
                  )
                    | I am not representing an organisation
                div(ng-messages='pageForm.organisationType.$error')
                  div(ng-message='required')
                    | This field is required
              md-input-container.md-block(flex, ng-show="vm.organisationType === 'nhri'")
                label Your National Human Rights Institution
                md-select(ng-model='vm.affiliation.npe5__Organization__c', name='affiliationOrganisation', required)
                  md-option(ng-repeat='nhri in vm.nhris', value='{{ nhri.Id }}')
                    | {{ nhri.Name }}
                  md-option(value='0', ng-hide="vm.organisationType === 'no'")
                    | Not
                div(ng-messages='pageForm.affiliationOrganisation.$error')
                  div(ng-message='required')
                    | This field is required
              md-autocomplete(
                flex,
                required,
                md-input-name='organisationName',
                md-selected-item='vm.organisationMatch',
                md-search-text='vm.organisationName',
                md-selected-item-change='vm.selectOrganisation(organisation)',
                md-items='organisation in vm.filterOrganisations(vm.organisationName)',
                md-item-text='organisation.Name',
                md-min-length='0',
                md-floating-label='Your organisation',
                ng-show="vm.organisationType === 'organisation'",
                md-select-on-match='true'
              )
                md-item-template
                    span(md-highlight-text='vm.organisationName') {{organisation.Name}}
                div(ng-messages='pageForm.organisationName.$error')
                  div(ng-message='required')
                    | This field is required
              p.question(ng-hide="vm.organisationType === 'individual'") When did you start working at this organisation?
              md-input-container.md-block(flex, ng-hide="vm.organisationType === 'individual'")
                label Enter date
                md-datepicker(
                  ng-model='vm.affiliation.npe5__StartDate__c',
                  name='affiliationStartDate',
                  required,
                  md-open-on-focus,
                  md-placeholder='Enter date'
                )
                div(ng-messages='pageForm.affiliationStartDate.$error')
                  div(ng-message='required')
                    | Please enter a valid date
              md-input-container.md-block(flex, ng-hide="vm.organisationType === 'individual'")
                label Role
                input(ng-model='vm.affiliation.npe5__Role__c', name='affiliationRole', required)
                div(ng-messages='pageForm.affiliationRole.$error')
                  div(ng-message='required')
                    | This field is required
              md-input-container.md-block(flex, ng-hide="vm.organisationType === 'individual'")
                label Department
                input(ng-model='vm.affiliation.Department__c', name='affiliationDepartment')
              p.error(
                layout='column'
                layout-padding,
                md-colors="{background: 'default-warn'}",
                ng-show='vm.organisationSectionInvalid'
              )
                | Please make sure all required fields have been completed.
                
              p.error(
                layout='column'
                layout-padding,
                md-colors="{background: 'default-warn'}",
                ng-show='vm.organisationSectionError'
              )
                | There was an error saving your information. Please wait 5 
                | seconds and try again.
                      
            md-card-actions(layout='row', layout-align='end center', layout-padding)
              md-progress-circular.md-primary(ng-show='vm.working', md-mode='indeterminate', md-diameter='20px')
              md-button(
                ng-click="vm.editSection('personal')"
              ) 
                md-icon.md-material-icons navigate_before
                | Previous
              md-button(
                ng-click="vm.processOrganisation()",
                ng-disabled="vm.organisationSectionNextDisabled()"
              ) 
                | Next
                md-icon.md-material-icons navigate_next
              
          //- Contact details section
          a(name='contact')
          //- Disabled version
          gz-disabled-form-section(
            title='vm.contactSectionTitle',
            ng-hide="vm.openAll || vm.sectionActive === 'contact' || vm.contactSectionStatus === 'complete'"
          )
          //- Complete version
          gz-complete-form-section(
            title='vm.contactSectionTitle',
            ng-click="vm.editSection('contact')",
            ng-show="vm.formComplete === false && vm.contactSectionStatus === 'complete' && vm.sectionActive !== 'contact'"
          )
          md-card(ng-show="vm.openAll || vm.sectionActive === 'contact'")
            md-card-header
              //- md-card-avatar
              //-   img(
              //-     ng-src='/images/APF-logo-footer-2x.png',
              //-     alt='Asia Pacific Forum logo'
              //-   )
              md-card-header-text
                span.md-headline  {{ vm.contactSectionTitle }}
            md-card-content
              //- section intro
              //- p stuff
              p.question Is the email you've provided your 
                strong work 
                | email address?
              md-input-container.md-block(flex)
                md-radio-group(ng-model='vm.emailIsWork', name='emailIsWork', required)
                  md-radio-button.md-primary(value='yes', ng-click='vm.changeEmailWork()') Yes
                  md-radio-button(value='no', ng-click='vm.changeEmailWork()')  No
                div(ng-messages='pageForm.emailIsWork.$error')
                  div(ng-message='required')
                    | This field is required
              md-input-container.md-block(flex, ng-hide="vm.emailIsWork === 'yes'")
                label What is your  
                  strong work 
                  | email address?
                input(
                  required,
                  type='email',
                  name='contactWorkEmail',
                  ng-model='vm.contact.npe01__WorkEmail__c',
                  minlength='10',
                  maxlength='155',
                  ng-pattern="/^.+@.+\..+$/"
                )
                div(ng-messages='pageForm.contactWorkEmail.$error')
                  div(ng-message-exp="['minlength', 'maxlength', 'pattern']")
                    | Your email must be between 10 and 155 characters long and look like an e-mail address.
              md-input-container.md-block(flex)
                label Phone 
                input(ng-model='vm.Phone', name='contactPhone', required)
                div(ng-messages='pageForm.contactPhone.$error')
                  div(ng-message='required')
                    | This field is required
              md-input-container.md-block(flex)
                label Which phone number is this?
                md-select(ng-model='vm.contact.npe01__PreferredPhone__c', name='contactPreferredPhone', required)
                  md-option(ng-repeat='phoneType in vm.phoneTypes', value='{{ phoneType }}')
                    | {{ phoneType }}
                //- div.hint
                //-   | Is it you work phone, mobile phone, home phone?
                div(ng-messages='pageForm.contactPreferredPhone.$error')
                  div(ng-message='required')
                    | This field is required
              md-input-container.md-block(flex)
                label Fax 
                input(ng-model='vm.contact.Fax', name='contactFax')
                //- div(ng-messages='pageForm.contactFax.$error')
                //-   div(ng-message='required')
                //-     | This field is required
              md-input-container.md-block(flex)
                label Your nearest airport 
                input(ng-model='vm.contact.Closest_airport__c', name='contactClosestAirport', required)
                div.hint
                  | If you attend the face to face component we'll need to know 
                  | where to book your ticket.
                div(ng-messages='pageForm.contactClosestAirport.$error')
                  div(ng-message='required')
                    | This field is required
              p.error(
                layout='column'
                layout-padding,
                md-colors="{background: 'default-warn'}",
                ng-show='vm.contactSectionInvalid'
              )
                | Please make sure all required fields have been completed.
                
              p.error(
                layout='column'
                layout-padding,
                md-colors="{background: 'default-warn'}",
                ng-show='vm.contactSectionError'
              )
                | There was an error saving your information. Please wait 5 
                | seconds and try again.
                      
            md-card-actions(layout='row', layout-align='end center', layout-padding)
              md-progress-circular.md-primary(ng-show='vm.working', md-mode='indeterminate', md-diameter='20px')
              md-button(
                ng-click="vm.editSection('organisation')"
              ) 
                md-icon.md-material-icons navigate_before
                | Previous
              md-button(
                ng-click="vm.processContact()",
                ng-disabled="vm.contactSectionNextDisabled()"
              ) 
                | Next
                md-icon.md-material-icons navigate_next
              
          //- Experience and knowledge section
          a(name='experience')
          //- Disabled version
          gz-disabled-form-section(
            title='vm.experienceSectionTitle',
            ng-hide="vm.openAll || vm.sectionActive === 'experience' || vm.experienceSectionStatus === 'complete'"
          )
          //- Complete version
          gz-complete-form-section(
            title='vm.experienceSectionTitle',
            ng-click="vm.editSection('experience')",
            ng-show="vm.formComplete === false && vm.experienceSectionStatus === 'complete' && vm.sectionActive !== 'experience'"
          )
          md-card(ng-show="vm.openAll || vm.sectionActive === 'experience'")
            md-card-header
              //- md-card-avatar
              //-   img(
              //-     ng-src='/images/APF-logo-footer-2x.png',
              //-     alt='Asia Pacific Forum logo'
              //-   )
              md-card-header-text
                span.md-headline  {{ vm.experienceSectionTitle }}
            md-card-content
              
              div.error(
                layout='row'
                layout-padding,
                md-colors="{background: 'default-warn'}",
                ng-show='vm.experienceSectionErrorTop'
              )
                div(flex='75', layout='row', layout-align='start center')
                  | There was an error reaching the database. Please wait 5 
                  | seconds and then try again.
                div(flex='25', layout='row', layout-align='end center')
                  md-button.md-background(
                    ng-click='vm.preOrganisation()'
                  ) Try again
              
              p.question Please provide details of any knowledge and experience 
                | you have with issues related to this topic
              md-input-container.md-block(flex)
                label Knowledge and experience
                textarea(
                  ng-model='vm.participant.Prior_experience_with_action_topic__c',
                  name='participantPriorExperienceTopic',
                  md-maxlength='500',
                  rows='5',
                  md-select-on-focus,
                  required
                )
                div(ng-messages='pageForm.participantPriorExperienceTopic.$error')
                  div(ng-message='required')
                    | This field is required
              div.self-assessment-questions(ng-hide='vm.questions.length === 0')
                p.intro(
                  layout='column'
                  layout-padding,
                  md-colors="{background: 'default-background-hue-2'}"
                )
                  | To help us in tailoring the course to participants' needs 
                  | please 
                  | rate your abilities and knowledge related to the 
                  | following on a scale of 1-5. 
                  | Where 1 indicates you have little 
                  | to no ability or knowledge and 5 indicates great ability or 
                  | knowledge on the topic.
                  br
                  | If you would like to comment on the 
                  | topic please click on the comment button.
                
                gz-response-form-input(
                  ng-repeat='question in vm.questions',
                  question='question'
                )
              p.intro(
                layout='column'
                layout-padding,
                md-colors="{background: 'default-background-hue-2'}"
              )
                | Please rate your computer / IT skills and access:
              gz-slider-form-input(
                question='Access to the Internet',
                model='vm.contact.IT_Skill_access_to_the_Internet__c',
                name='contactItAccessInternet',
                error='vm.experienceErrors.IT_Skill_access_to_the_Internet__c'
              )
              gz-slider-form-input(
                question='Ability to download files',
                model='vm.contact.IT_Skills_Ability_to_download_files__c',
                name='contactItDownloadFiles',
                error='vm.experienceErrors.IT_Skills_Ability_to_download_files__c'
              )
              gz-slider-form-input(
                question='Ability to view vides online',
                model='vm.contact.IT_Skills_Ability_to_view_online_videos__c',
                name='contactItViewVideos',
                error='vm.experienceErrors.IT_Skills_Ability_to_view_online_videos__c'
              )
              gz-slider-form-input(
                question='Ability to use Word documents',
                model='vm.contact.IT_Skill_Ability_to_use_Word_documents__c',
                name='contactItWord',
                error='vm.experienceErrors.IT_Skill_Ability_to_use_Word_documents__c'
              )
              gz-slider-form-input(
                question='Ability to use spreadsheets',
                model='vm.contact.IT_Skill_Ability_to_use_spreadsheets__c',
                name='contactItSpreadsheets',
                error='vm.experienceErrors.IT_Skill_Ability_to_use_spreadsheets__c'
              )
              p.intro(
                layout='column'
                layout-padding,
                md-colors="{background: 'default-background-hue-2'}"
              )
                | Please rate your English language competency
              gz-slider-form-input(
                question='Ability to read in English',
                model='vm.contact.EN_Skills_Ability_to_read_in_English__c',
                name='contactEnRead',
                error='vm.experienceErrors.EN_Skills_Ability_to_read_in_English__c'
              )
              gz-slider-form-input(
                question='Ability to write in English',
                model='vm.contact.EN_Skills_Ability_to_write_in_English__c',
                name='contactEnWrite',
                error='vm.experienceErrors.EN_Skills_Ability_to_write_in_English__c'
              )
              gz-slider-form-input(
                question='Ability to understand spoken English',
                model='vm.contact.EN_Skills_Ability_to_understand_spoken__c',
                name='contactEnSpoken',
                error='vm.experienceErrors.EN_Skills_Ability_to_understand_spoken__c'
              )
              gz-slider-form-input(
                question='Ability to speak in English',
                model='vm.contact.EN_Skills_Ability_to_speak_English__c',
                name='contactEnSpeak',
                error='vm.experienceErrors.EN_Skills_Ability_to_speak_English__c'
              )
              p.error(
                layout='column'
                layout-padding,
                md-colors="{background: 'default-warn'}",
                ng-show='vm.experienceSectionInvalid'
              )
                | Please make sure all required fields have been completed.
                
              p.error(
                layout='column'
                layout-padding,
                md-colors="{background: 'default-warn'}",
                ng-show='vm.experienceSectionError'
              )
                | There was an error saving your information. Please wait 5 
                | seconds and try again.
                      
            md-card-actions(layout='row', layout-align='end center', layout-padding)
              md-progress-circular.md-primary(ng-show='vm.working', md-mode='indeterminate', md-diameter='20px')
              md-button(
                ng-click="vm.editSection('contact')"
              ) 
                md-icon.md-material-icons navigate_before
                | Previous
              md-button(
                ng-click="vm.processExperience()",
                ng-disabled="vm.experienceSectionNextDisabled()"
              ) 
                | Next
                md-icon.md-material-icons navigate_next
              
          //- Expectations and learning needs section
          a(name='expectations')
          //- Disabled version
          gz-disabled-form-section(
            title='vm.expectationsSectionTitle',
            ng-hide="vm.openAll || vm.sectionActive === 'expectations' || vm.expectationsSectionStatus === 'complete'"
          )
          //- Complete version
          gz-complete-form-section(
            title='vm.expectationsSectionTitle',
            ng-click="vm.editSection('expectations')",
            ng-show="vm.formComplete === false && vm.expectationsSectionStatus === 'complete' && vm.sectionActive !== 'expectations'"
          )
          md-card(ng-show="vm.openAll || vm.sectionActive === 'expectations'")
            md-card-header
              //- md-card-avatar
              //-   img(
              //-     ng-src='/images/APF-logo-footer-2x.png',
              //-     alt='Asia Pacific Forum logo'
              //-   )
              md-card-header-text
                span.md-headline  {{ vm.expectationsSectionTitle }}
            md-card-content
              //- section intro
              //- p stuff
              p.question What knowledge do you hope to gain through 
                | participation in this course? In other words what would you 
                | like to learn about? How could this knowledge benefit you 
                | and the work you are doing?
              md-input-container.md-block(flex)
                textarea(
                  ng-model='vm.participant.Knowledge_they_would_like_to_gain__c',
                  name='participantKnowledgeGain',
                  md-maxlength='300',
                  rows='3',
                  md-select-on-focus,
                  required
                )
                //- div.hint
                //-   | Should we add some help text?
                div(ng-messages='pageForm.participantKnowledgeGain.$error')
                  div(ng-message='required')
                    | This field is required
              p.question What skills do you hope to gain through 
                | participation in this course? In other words what would you 
                | like to learn how to do? How could these skills benefit you 
                | and the work you are doing?
              md-input-container.md-block(flex)
                textarea(
                  ng-model='vm.participant.Skills_they_would_like_to_gain__c',
                  name='participantSkillsGain',
                  md-maxlength='300',
                  rows='3',
                  md-select-on-focus,
                  required
                )
                //- div.hint
                //-   | Should we add some help text?
                div(ng-messages='pageForm.participantSkillsGain.$error')
                  div(ng-message='required')
                    | This field is required
              p.question Is there any additional information you would like to 
                | add to your application?
              md-input-container.md-block(flex)
                textarea(
                  ng-model='vm.participant.Additional_information__c',
                  name='participantAdditionalInfo',
                  md-maxlength='300',
                  rows='3',
                  md-select-on-focus
                )
                //- div.hint
                //-   | Should we add some help text?
                //- div(ng-messages='pageForm.participantAdditionalInfo.$error')
                //-   div(ng-message='required')
                //-     | This field is required
              p.error(
                layout='column'
                layout-padding,
                md-colors="{background: 'default-warn'}",
                ng-show='vm.expectationsSectionInvalid'
              )
                | Please make sure all required fields have been completed.
                
              p.error(
                layout='column'
                layout-padding,
                md-colors="{background: 'default-warn'}",
                ng-show='vm.expectationsSectionError'
              )
                | There was an error saving your information. Please wait 5 
                | seconds and try again.
                      
            md-card-actions(layout='row', layout-align='end center', layout-padding)
              md-progress-circular.md-primary(ng-show='vm.working', md-mode='indeterminate', md-diameter='20px')
              md-button(
                ng-click="vm.editSection('experience')"
              ) 
                md-icon.md-material-icons navigate_before
                | Previous
              md-button(
                ng-click="vm.processExpectations()",
                ng-disabled="vm.expectationsSectionNextDisabled()"
              ) 
                | Next
                md-icon.md-material-icons navigate_next
          md-card(
            ng-show='vm.formComplete'
          )
            md-card-header(md-colors="{background: 'default-primary-hue-2'}")
              md-card-avatar
                img(
                  ng-src='/images/APF-logo-circle.png',
                  alt='Asia Pacific Forum logo'
                )
              md-card-header-text
                span.md-headline Your registration has been received
            md-card-content
              p Thank you for taking the time to complete our application form. 
                | Someone from the APF wil be in contact soon.
                
  div.footer(layout='row', layout-padding, md-colors="{background: 'default-background-hue-3'}")
    img.logo-icon(
      ng-src='/images/APF-logo-footer-2x.png',
      alt='Asia Pacific Forum logo'
    )
    p 2017 The Asia Pacific Forum of National Human Rights 
      | Institutions. 
      a(
        href='http://asiapacificforum.net/accessibility-policy/',
        title='The accessibility policy of the APF'
      )
        | Accessibility policy
      |  -&nbsp;
      a(
        href='http://asiapacificforum.net/terms-and-conditions/',
        title='The terms and conditions of the APF'
      )
        | Terms and conditions
