section
  
  div.header(layout='row', layout-padding, md-colors="{background: 'default-primary'}")
    img.logo-icon(
      ng-src='/images/APF-logo-circle-32x32.png',
      alt='Asia Pacific Forum logo'
    )
    h1.md-subhead Training Portal
    
  div.subheader(layout='row', md-colors="{background: 'default-primary-hue-1'}")
    p.body-2 Registration for
    
  gz-action-hero(
    action='vm.action'
  )

section(ng-show='vm.action.loaded')
  
  //- Content
  div.content

    md-content(layout-padding, layout='row', layout-xs='column')
      
      //- Help text
      div(flex-xs, flex-gt-sm='50', layout='column')
        md-card
          md-card-title
            md-card-title-text.md-headline
              | Registration information
          md-card-content
            md-list
              md-list-item
                md-icon.material-icons.md-avatar event
                p Registrations close 
                  strong {{ vm.action.registrationDate }}
            p {{ vm.action.Help_text__c }}

        gz-supporting-text(
          content='vm.action.Selection_criteria__c',
          title='Participants must',
          display='list'
        )
        gz-supporting-text(
          content='vm.action.Ideal_candidate__c',
          title='Ideal candidates will have one or more of',
          display='list'
        )
        gz-supporting-text(
          content='vm.action.Supporting_text__c',
          display='html'
        )

      //- Form
      div(flex, layout='column')
        gz-closed(
          status='vm.action.formStatus',
          owner-id='vm.action.OwnerId'
        )
        form(
          name='form',
          ng-submit='form.$valid',
          ng-show="vm.action.formStatus === 'open'"
        )

          gz-section(page='vm.page')
            gz-section-email(
              page='vm.page',
              action='vm.action',
              form='form'
            )
