section
  
  div.header(layout='row', layout-padding, md-colors="{background: 'default-primary'}")
    img.logo-icon(
      ng-src='/images/APF-logo-circle-32x32.png',
      alt='Asia Pacific Forum logo'
    )
    h1.md-subhead Training Portal
    
  div.subheader(layout='row', md-colors="{background: 'default-primary-hue-1'}")
    p.body-2 Registration for
    
  gz-action-hero(
    action='vm.page.action'
  )

section(ng-show='vm.page.action.loaded')
  
  //- Content
  div.content

    md-content(layout-padding, layout='row', layout-xs='column')
      
      //- Help text
      div(flex-xs, flex-gt-sm='50', layout='column')
        md-card
          md-card-title
            md-card-title-text.md-headline
              | Registration information
          md-card-content
            md-list
              md-list-item
                md-icon.material-icons.md-avatar event
                p Registrations close 
                  strong {{ vm.page.action.registrationDate }}
            p {{ vm.page.action.Help_text__c }}

        gz-supporting-text(
          content='vm.page.action.Selection_criteria__c',
          title='Participants must',
          display='list'
        )
        gz-supporting-text(
          content='vm.page.action.Ideal_candidate__c',
          title='Ideal candidates will have one or more of',
          display='list'
        )
        gz-supporting-text(
          content='vm.page.action.Supporting_text__c',
          display='html'
        )

      //- Form
      div(flex, layout='column')
        
        //- If form is closed
        gz-closed(
          status='vm.page.action.formStatus',
          owner-id='vm.page.action.OwnerId'
        )
        
        //- Thank you section
        md-card(
          ng-show="vm.page.action.formStatus === 'complete'"
        )
          md-card-header(md-colors="{background: 'default-primary-hue-2'}")
            md-card-avatar
              img(
                ng-src='/images/APF-logo-circle.png',
                alt='Asia Pacific Forum logo'
              )
            md-card-header-text
              span.md-headline Your registration has been received
          md-card-content
            p Thank you for taking the time to complete our application form. 
              | Someone from the APF wil be in contact soon.
        
        //- the form
        form(
          name='form',
          ng-submit='form.$valid',
          ng-show="vm.page.action.formStatus === 'open'"
        )

          gz-section(page='vm.page', form='form')
            gz-section-email(
              page='vm.page'
            )

          gz-section(page='vm.page', form='form')
            gz-section-personal(
              page='vm.page'
            )

          gz-section(page='vm.page', form='form')
            gz-section-organisation(
              page='vm.page'
            )
            
          gz-section(page='vm.page', form='form')
            gz-section-contact(
              page='vm.page'
            )
            
          //- gz-section(page='vm.page', form='form')
          //-   gz-section-experience(
          //-     page='vm.page'
          //-   )
          //- 
          //- gz-section(page='vm.page', form='form')
          //-   gz-section-it-skills(
          //-     page='vm.page'
          //-   )
          //- 
          //- gz-section(page='vm.page', form='form')
          //-   gz-section-english-skills(
          //-     page='vm.page'
          //-   )
          //- 
          //- gz-section(page='vm.page', form='form')
          //-   gz-section-expectations(
          //-     page='vm.page'
          //-   )
          //- 
          //- gz-section(page='vm.page', form='form')
          //-   gz-section-sessions(
          //-     page='vm.page'
          //-   )

  div.footer(layout='row', layout-padding, md-colors="{background: 'default-background-hue-3'}")
    img.logo-icon(
      ng-src='/images/APF-logo-footer-2x.png',
      alt='Asia Pacific Forum logo'
    )
    p 2017 The Asia Pacific Forum of National Human Rights 
      | Institutions. 
      a(
        href='http://asiapacificforum.net/accessibility-policy/',
        title='The accessibility policy of the APF'
      )
        | Accessibility policy
      |  -&nbsp;
      a(
        href='http://asiapacificforum.net/terms-and-conditions/',
        title='The terms and conditions of the APF'
      )
        | Terms and conditions
