md-card(
  md-colors="{background: 'default-accent-hue-2'}"
)
  md-card-header
    md-card-avatar
      img(
        ng-src='/images/APF-logo-circle.png',
        alt='Asia Pacific Forum logo'
      )
    md-card-header-text
      span.md-headline {{ vm.title }}
    md-card-avatar
      //- md-icon.material-icons(
      //-    aria-label='Edit {{ vm.title }}',
      //-    ng-click='vm.editClick'
      //- ) mode_edit
      md-button.md-card-avatar-button(
        aria-label='Edit {{ vm.title }}',
        ng-click='vm.edit()'
      )
        md-icon mode_edit
