footer
  md-content(
    layout='row',
    layout-padding,
    md-colors="{background: 'default-background-hue-3'}"
  )
    div(flex='30') 
      img(
        ng-src='/images/APF-logo-footer-2x.png',
        alt='Asia Pacific Forum logo'
      )
    div(flex) 
      p.copyright &copy; 2017 The Asia Pacific Forum of National Human Rights Institutions
      p The APF aims to make its website accessible for all visitiors.
        br
        | View APF&apos;s&nbsp;
        a(
          href='http://asiapacificforum.net/accessibility-policy/',
          title='The accessibility policy of the APF'
        )
          | Accessibility policy
        |  -&nbsp;
        a(
          href='http://asiapacificforum.net/terms-and-conditions/',
          title='The terms and conditions of the APF'
        )
          | Terms and conditions
