div.response
  div(layout='row')
    div(flex='85', layout='row', layout-align='start center')
      p.question {{ vm.question.Question_text__c }}
    div(flex='15', layout='row', layout-align='end center')
      md-button.md-fab.md-mini.md-accent(
        aria-label='Add comment',
        ng-click='vm.showComment()',
        ng-show='vm.hideComment'
      )
        md-icon comment
  md-slider-container.md-block(flex)
    span 1
    md-slider(
      ng-model='vm.question.response.Score__c',
      name='responseScore{{ vm.question.Name }}',
      flex,
      md-discrete,
      step='1',
      min='1',
      max='5',
      aria-label='{{ vm.question.Question_text__c }}'
    )
    span 5
  md-input-container.md-block(flex, ng-hide='vm.hideComment')
    label Would you like to add any comments about this rating?
    textarea(
      ng-model='vm.question.response.Comments__c',
      name='responseComment{{ vm.question.Name }}',
      md-maxlength='150',
      rows='3',
      md-select-on-focus
    )
