div.session
  h4.md-title(
    ng-show='vm.displayDayHeadings && vm.session.day.displayHeading'
  ) {{ vm.session.day.heading }}
  h5.md-subhead(
    ng-show='vm.session.day.displayPeriodHeadings && vm.session.period.displayHeading'
  ) {{ vm.session.period.heading }}
  
  p.error(
    layout='column'
    layout-padding,
    md-colors="{background: 'default-warn'}",
    ng-show='vm.sessionsDays[vm.session.day.id].periods[vm.session.period.id].valid === false'
  )
    | Please make sure you have selected a first and second preference
  
  div(flex, layout='row', layout-padding)
    div(flex='15')
      md-select(
        ng-model='vm.session.sessionParticipation.Registration_preference__c',
        name='sessionParticipationRegoPreference{{ vm.session.sessionParticipation.Name }}',
        aria-label='{{ vm.session.Name }}'
      )
        md-option(value='')
        md-option(ng-repeat='option in vm.session.period.options', value='{{ option }}')
          | {{ option }}
    div(flex)
      p {{ vm.session.Name }}
